{% extends 'campaign_base.html' %}

{% load humanize %}

{% block title %}Keywords{% endblock title %}

{% block main %}
<div id="keyword-list">
    <div class="d-grid mb-3">
        <a class="p-4 btn btn-link border border-2 rounded link-secondary" style="border-style:dashed !important;" href="{% url 'new-keyword' campaign.slug %}">
            Add keyword
        </a>
    </div>
    <div class="d-grid mb-3">
        <a class="p-4 btn btn-link border border-2 rounded link-secondary" style="border-style:dashed !important;" href="{% url 'url-new-keyword' campaign.slug %}">
            Add keywords from URL
        </a>
    </div>
    {% for object in object_list %}
        <div class="mb-3 p-4 border rounded bg-body">
            <div class="row">
                <div class="align-self-center col-lg-11 col-10">
                    <p><a href="{% url 'mention-list' campaign.slug %}?q={{ object.keyword | iriencode }}">{{ object.keyword }}</a></p>
                    <div class="keyword-statistics">
                        <ul class="mb-0 list-inline small text-secondary">
                            <li class="pe-3 list-inline-item"><strong>Mentions:</strong> {{ object.num_of_mentions | intcomma }}</li>
                        </ul>
                    </div>
                </div>
                <div class="align-self-center col-lg-1 col-2">
                    <a class="btn btn-link btn-sm" href="{% url 'delete-keyword' campaign.slug object.pk %}">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock main %}